/*PAGE ACCUEIL*/
:root{
    --rouge : #ff2626;
    --vert : #28B825;
    --noir : rgb(27, 27, 27);
    --bleu : #27b5e9;
    --jaune :#fad91e;
    --blanc_casse : 245, 245, 250;

    /* C'est le bleu et le rose
       Secondaire = rose
       Primaire = bleu
    */
    --primaire : 20, 220, 250;
    --secondaire : 255, 180, 255;
    /* --primaire : 0, 0, 0;
    --secondaire : 23,56,100; */
}
html, body{
    min-width: 100px;
    font-family: 'Raleway', sans-serif;
    display: flex;
    height: 100%;
    min-width: 100%;
    margin: 0px 0px 0px 0px;
    background: linear-gradient(-45deg,rgba(var(--secondaire), 0.4), rgba(var(--primaire), 0.2) 99%) ;
    background-color: rgb(var(--blanc_casse));
}

/*PAGE EDITEUR DE PRESENTATION*/

body > #forms{
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 0px;
    min-width: 100%;
    flex-direction: column;
}
/* form{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    width: 98%;
    padding: 0px 40px;
} */
#forms > h1 {
    height: fit-content;
    text-align: center;
    width: 100%;
    background-color: #0398fc;
}
#medium_box > h2, #small_box > h2{
    margin: 0 0 30px 0;
}
#big_box{
    display: inline-flex;
    padding: 10px 60px;
    margin: 0 2rem 0 2rem;
    width: 90%;
    height: 80%;
    background: none;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

#big_box_intervenant {
    display: inline-table;
    padding: 10px 60px;
    width: 100%;
    height: 80%;
    background: none;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
#medium_box_intervenant {
    display: inline-flex;
    width: 100%;
    height: 80%;
    background: none;
}

#big_box_unlock {
    display: inline-flex;
    padding: 10px 60px;
    width: 100%;
    height: 97%;
    background: none;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

}
#medium_box{
    width: 60%;
    height: 100%;
}
#medium_box_session{
    width: 100%;
    height: 100%;
}

#small_box{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    flex-direction: column;
    padding-bottom: 80px;
}
#gestion_session{
    display: flex;
    flex-wrap:nowrap;
    width: 100%;
}
.head_box{
    display: flex;
    width: 100%;
    background-color: inherit;
}
.head_box > .titre{
    background-color: inherit;
    display: flex;
    justify-content: center;
    width: 95%;
    align-self: center;

}
.accueil > button{
    background-color: inherit;
    border: none;
    cursor: pointer;
}
.head_box > .accueil{
    background-color: inherit;
    border-radius: 5px;
    width: 5%;
    align-self: flex-start;
    box-shadow: inset 0 0 0 0 rgba(var(--primaire), 0.4),
                5px 4px 5px rgba(0, 0, 0 , 0.1),
                -1px -1px 3px rgba(0, 0, 0 , 0.1);
    display: flex;
    justify-content: center;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.head_box > .accueil:hover {
    box-shadow: inset 200px 0 0 0 rgba(var(--secondaire), 0.4);
}
.title{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    width: 100%;
}
.ajouter_element{
    align-self: center;
    width: 2rem;
    height: 1.5rem;
    border: none;
    border-radius: 1px;
    background-color: rgb(var(--blanc_casse));
    margin-left: 1rem;
    transition: ease-in-out 0.3s;
}
.ajouter_element:hover{
    background-color: var(--vert);
    cursor: pointer;
}
#gestion_elements{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    height: 70%;
}
.element{
    display: flex;
    /* flex-grow: 1; */
    width: 30%;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 80%;
}
.element > label{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.liste_jours_salles_session{
    height: 80%;
    width: 90%;
    border-radius: 7px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px rgba(var(--blanc_casse)), 0 1px 0 rgba(var(--blanc_casse));
}
.liste_jours_salles_session > option{
    background-color: burlywood;
    height: 2rem;
    font-size: 1rem;
    padding-left: 1rem;
    padding-top: 0.4rem;

}
#jour_selectionne{
    color: var(--rouge);
}
#nb_jours{
    border: 1px solid var(--noir);
    padding: 3rem;
    border-radius: 5px;
}
input, textarea {
    font-family: 'Raleway', sans-serif;
    width: 70%;
    border-radius: 3px;
    font-size: 0.9em;
    border: 1px solid transparent;
    border-top: none;
    /* border-bottom: 1px solid #DDD; */
    box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px rgba(var(--blanc_casse)), 0 1px 0 rgba(var(--blanc_casse));
}
textarea{
    width: 60%;
    height: 200px;
    resize: vertical;
}
textarea.text{
    border-radius: 3px;
    padding-top: 5px;
    font-family: 'Raleway', sans-serif;
}
#input_description::placeholder {
    color: #686868;
    font-style: 'arial', sans-serif;
    font-size: 1em;
}
#input_title{
    width: 16rem;
    height: 2.54em;
    border: none;
    border-radius: none;
}
#input_title_presta{
    width: 15rem;
    height: 2.54em;
    border: none;
    border-radius: none;
}
#input_text{
    width: 10rem;
    height: 2.54em;
    border: none;
    border-radius: none;
}
#input_description{
    height: 20%;
}
#description{
    margin-top: 50px;
}

#fileupload, #liste_intervenants{
    width: 75%;
    height: 40px;
}
/*liste deroulante*/
.select{
    background-color: var(--blanc_casse);
    height: 50px;
    font-family: 'Raleway', sans-serif;
    line-height: 2em;
    border-radius: 3px;
    cursor: pointer;
}
.select > option{
    background-color: var(--blanc_casse);
    height: 50px;
    color: var(--noir);
    font-size: 1.3em;
}

#submit{
    display: flex;
    justify-content: center;
    align-self: flex-start;
    align-items: center;
    bottom: 0;
    font-family: 'Raleway', sans-serif;
    color: var(--noir);
    font-size: 1.1em;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    margin-top: 165px;
    width: 75%;
    height: 2em;    
    text-decoration: none;
    cursor: pointer;
    box-shadow: none;
    background-color: inherit;
    box-shadow: inset 0 0 0 0 rgba(var(--primaire), 0.4),
                      10px 10px 10px rgba(0, 0, 0 , 0.1),
                      -5px -2px 10px rgba(255, 255, 255 , 0.6);
    transition: 0.3s ease-in-out;
}
#submit > span{
    align-self: center;
}
#submit:hover{
    background-color: rgba(28, 199, 28);
}
.enregistrer{
    background: none;
    border: none;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
/*PAGE LISTE DES PRESENTATION*/
#presta_box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    padding-right: 4px;
    padding-left: 4px;
    margin-top: 20px;
    margin-bottom: 0%;
    border-radius: 6px;
    font-size: 0.9em;
    border: 1px solid transparent;
    border-top: none;
    /* border-bottom: 1px solid #DDD; */
    /*box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
    */
    overflow-y: scroll;
    overflow-x: hidden;
}
#presta_list{
    /*box-shadow: 0.25rem 0.25rem 0.6rem rgba(0,0,0,0.5), 0 0.5rem 1.125rem rgba(75,0,0,0.05);
    */
    display:flex;
    flex-wrap: nowrap;
    width: 80%;
    list-style-type: none;
    /* background-image: url(../images/Fichier1.svg);
    background-repeat: no-repeat;
    background-size: 100%;*/
    background: rgba(var(--blanc_casse));
    border-radius: 3px;
    height: fit-content;
    margin-top: 4px;
    margin-bottom: 4px;
    transition: .4s ease-in-out;
    
}  
#presta_list::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-45deg, rgba(var(--secondaire)) 0%, rgba(var(--primaire)) 100% );
    transform: translate3d(0px, 20px, 0) scale(0.95);
    filter: blur(20px);
    opacity: 0.8;
    border-radius: inherit;
}
/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
#presta_list::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: ease-in 0.4s;
    background: inherit;
    border-radius: inherit;
}
/*soucis avec la presta et click du bouton*/
#presta_list:hover{
    transform: scale(1.02);
    cursor: pointer;
    
}

#presta_list > div > h1, p, h4{
    margin-left: 30px;
    margin-right: 100px;
    overflow: hidden;
}

#list{
    width: 60%;
}
#pp_box{
    background-color: none;
    align-self: center;
    margin-left: 30px;
    width: 10%;
}
#pp{
    width: 85px;
    height: 85px;
    border-radius: 40px;
}
.lien{
    display: flex;
    justify-content: center;
    min-height: 100%;
    width: 30%;
}
li > div > a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-self: center;
    width: 100%;
    text-align: center;
    padding: 10px; 
    min-height: 100%;
}
.btn-primary{
    background-color: rgba(var(--blanc_casse));
    font-family: 'Raleway', sans-serif;
    display: block;
    align-self: center;
    font-weight: 600;
    border: none;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* box-shadow: 10px 10px 10px rgba(0,0,0,0.1),
    -10px -10px 10px rgba(255,255,255,0.6);
    transition: ease-in-out 0.4s; */
    box-shadow: inset 0 0 0 rgba(var(--primaire), 0.4),
                5px 5px 5px rgba(0, 0, 0 , 0.1),
                -5px -2px 5px rgba(255, 255, 255 , 0);
    transition: ease-in-out 0.3s;
}
.btn-primary:hover {
    cursor: pointer;
    /* box-shadow: inset 10px 10px 10px rgba(0,0,0,0.1),
    inset -10px -10px 10px rgba(255,255,255,0.6); */
    box-shadow: inset 200px 0 0 0 rgba(var(--secondaire), 0.4);
}

#fleche-photo{
    filter: invert(0);
    width: 50px;
    height: 50px;
    rotate: 90deg;
}

div > form > h1 {
    background-color: inherit;
    letter-spacing: 1px;
    width: 100%;
    padding: 8px 0px;
    text-align: center;
    text-transform: uppercase;
    color: var(--bleu_fonce);
    border-radius: 15px;
    /* box-shadow: 10px 10px 10px rgba(0, 0, 0 , 0.1),
                -10px -5px 10px rgba(255, 255, 255 , 0.6); */
}

#ajouter_presentation {
    background-color: rgba(var(--blanc_casse));
    color: var(--noir);
    margin-top: 20px;
    padding: 10px 20px;
    padding-bottom: 13px;
    border-radius: 5px;
    box-shadow: inset 0 0 0 0 rgba(var(--primaire), 0.4),
                5px 5px 5px rgba(0, 0, 0 , 0.1),
                -5px -2px 5px rgba(255, 255, 255 , 0);
    transition: 0.4s ease-in-out;
    text-decoration: none;
}
#ajouter_presentation:hover, a:visited {
    box-shadow: inset 500px 0 0 0 rgba(var(--secondaire), 0.4);
}
.check{
    position: absolute;
}
.footer_box{
    display: flex;
    justify-content: space-around;
    width: 100%;

}
.choix_session{
    display: flex;
    justify-content: flex-end;
    width: 30%;
    align-items: center;

}
#submit_session{
    margin-top: 0px;
    margin-left: 30px;
    width: 150px;
    min-height: 50px;
    border: none;
    border-radius: 5px;
    background-color: rgb(var(--blanc_casse));
    font-family: 'Raleway', sans-serif;
    box-shadow: inset 0 0 0 0 rgba(var(--primaire), 0.4),
                      5px 5px 5px rgba(0, 0, 0 , 0.1);
    transition: 0.3s ease-in-out;
    font-weight: 700;
}
#submit_session:hover{
    background-color: var(--vert);
    box-shadow: none;
    cursor: pointer;
}

#menu_lien{
    font-size: 2em;
    min-height: inherit;
    color: var(--bleu_fonce);
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu_lien:visited{
    color: var(--bleu_fonce);
}
body.hovered{
    background: #fad91e;
}
.boite_à_liens > button{
    border-radius: 10px;
    background-color: inherit;
    box-shadow: 3px 3px 10px rgba(0, 0, 0 , 0.1),
                -2px -1px 3px rgba(0, 0, 0 , 0.1);
    transition: 0.3s ease-in-out;
    border: none;
    width: 100%;
    min-height: 90px;
    margin-top: 0%;
}
.boite_à_liens > button:hover{
    transform: scale(1.05);
}
.boite_à_liens{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    min-height: 100%;

}

/* width */
::-webkit-scrollbar {
    width: 10px;
    }
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(var(--blanc_casse)); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, rgba(var(--primaire)), rgba(var(--secondaire), 0.4)); 
  }
 

.btn-modif {
    position: fixed;
    z-index: 2;
    width: 200px;
    height: 200px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: none;
    box-shadow: none;
    border-radius: 20%;
}
.btn-modif:after {
    font-family: 'FontAwesome';
    display: inline-block;
    text-align: center;
    font-size: 80px;
    content: attr(data-icon);
    padding: 20px 20px;
    border-radius: 15px;
    color: rgba(0,0,0,.4);
    transition: box-shadow 1s, color 1s;
}
.btn-modif:checked {
    box-shadow: 2px 2px 14px rgba(0,0,0,.4);
    color: rgba(255,255,255,.6);
}

#btn-validez {
    height: 52px;
    width: 200px;
    background-color: green;
    border-radius: 5%;
    position: fixed;
    top: 75%;
    right: 45%;
    color: #FFF;
    font-weight: bold;
    font-size: xx-large;
    box-shadow: 3px 3px 10px rgba(0, 0, 0 , 0.3),
                -5px -2px 10px rgba(255, 255, 255 , 0.6);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
#btn-validez:hover{
    box-shadow: none;
}
#presta_list > #bouton_editer{
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin: 10px 10px 0 0 ;
    height: 52px;
    border-radius: 5px;
    opacity: 0.5;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.1),
    -10px -10px 10px rgba(255,255,255,0.6);
    transition: ease-in-out 0.3s;
    /* background-color: rgba(var(--primaire)); */
}
#presta_list > #bouton_editer:hover{
    box-shadow: inset 10px 10px 10px rgba(0,0,0,0.1),
    -10px -10px 10px rgba(255,255,255,0.6);;
}
#Selection_Boutons_Session {
    width: 85%;
    height: 2rem;
    text-align: center;
}
.Boutons_session {
    width: 15%;
    height: 2rem;
}