{% extends "base.html" %}

{% block accueil %}

<div class="box-bienvenue-color" >
    <div class="box-bienvenue">
        <h1>Bienvenue sur Interface Locale"</h1>
        <p>Ceci est plateforme de gestion de conférences et de présentations.<br/> Nous sommes là pour vous aider à organiser et à présenter vos événements en toute simplicité et efficacité. Avec nos fonctionnalités de gestion de conférences et de prévisualisation, vous pourrez créer et planifier votre événement de manière transparente. </p>
    </div>
</div>

{% endblock %}