{% extends "presentation/base.html" %}
{% block pres %}

    <div id="forms">
        <form id="" action="" enctype="multipart/form-data" method="post" class="form-example">
            <div class="head_box">

            </div>
            <div id="big_box">
                <ul id="presta_box">
                    <li id='presta_list'>
                        <div id='pp_box'><img src ='intervenant/$token_photo' id='pp'></div>
                        <div id='list'>
                            <h1>Exemple de titre</h1>
                            <p>Exemple de description</p>
                            <p></p>
                            <h4></h4>
                        </div>
                    </li>
                </ul>
            </div>            
            <div class="footer_box">
                
            </div>
        </form>
    </div>

{% endblock %}


